body{
    text-align: center;
    background-color: white;
}

#title{
    color: orange;
}

#line{
    color: white;
}

#delete{
    color: red;
}

#update{
    color: green;
}

#detail{
    color: orchid;
}