body{
    text-align: center;
}

.col1{
    padding-top: 30px;
    margin-left: 150px;
}

.create_container{
    padding: 100px 0px;
    height: 550px;
    width: 400px;
    border: solid 1px gray;
    border-radius: 10px;
}

.create_container p{
    font-size: 35px;
}

.create_container input{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    background: transparent;
    padding-top: 60px;
}

.create_container textarea{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    background: transparent;
}

#create_button{
    color: white;
    margin-top: 120px;
    background-color: green;
    height: 40px;
    width: 100px;
}

.col2{
    padding-top: 30px;
}

.list_container{
    height: 550px;
    width: 500px;
    border: double 4px #ff69b4;/*線*/
    border-radius: 10px;
}

.align-items-center{
    width: 400px;
    text-align: center;
    height: 60px;
    border-radius: 15px;
}

.p-2{
    margin-left: 50px;
    margin-top: 30px;
}

.list_container p{
    padding: 50px;
}

.align-items-center p{
    font-size: 30px;
}

#back{
    font-size: 20px;
}
